          .secondary {
            position: absolute;
            top: -10% !important;
            left: 10px;
            }
          .container {
           --card-secondary-font-size: 13.5px;
           --card-secondary-font-weight: 500;
           --card-primary-font-size: 13.5px;
           --card-primary-font-weight: 500;
           --card-secondary-color: {{secondary_color}};