ha-card {
      {% if is_state(entity_red,'on')%}  {% set color = 'rgba(255,0,0,0.4)' %}
      {% elif is_state(entity_alert,'unavailable')%}  {% set color = 'rgba(255,0,0,0.7)' %}
      {% else %}  {% set color = 'rgba(120,120,120,0.4)'%} {% endif %}
      
      position: absolute !important;
      top: 10px !important;
      right: 10px !important;
      background: {{color}} !important;
      border-radius: 100px !important;
      border: {{states('input_number.s_card_border_width')|int(0)}}px solid rgba(255, 255, 255, 0.15) !important;
      backdrop-filter: blur(6px);
      --chip-background: none;
      --chip-spacing: 0px;
      text-shadow: 0 1px 2px black;
    }
