    ha-card {
      margin-top: 0px;
      --chip-font-size: 0.3em;
      --chip-icon-size: 0.55em;
      --chip-height: 55px;
      --chip-background: transparent;
      --chip-icon-size: 40px;
      --chip-padding: 8px;
      --chip-border-radius: 100px;
      --chip-spacing: 5px;
        }