ha-card { 
        margin-top: 10px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        background: none !important ;
        border-width: 0px;
        }
      @media (min-width: 1150px) {
      
      ha-card {
        scale: 1.2;
        margin-top: 20px;
      }