ha-card {
      opacity:0%;
      --chip-height: 50px;
      position: absolute !important;
      border-radius: 30px;
      top: 0px !important;
      left: 0px;
      right: 0px;
      background-color: transparent !important;
      border-width: 0px;
      }
    ha-card:hover {
       opacity: 100%; }