ha-card {
      position: absolute !important;
      top: {{top | default('10.5')}}px !important;
      left: {{left | default('10.5')}}px !important;
      background-color: none !important;
      --chip-background: none !important;
      --chip-height: {{chip_height | default('35')}}px !important;