      .shape {
        --{{shape_variable}}: none !important;
        --{{icon_variable}}: 40px;
        --{{icon_variable2 }};
        position: relative;
        border-radius: 50%; /* Круглая форма */
        overflow: hidden; /* Обрезает всё, что выходит за границы */
      }