ha-card {
             margin: {{top| default(0)}}px {{right| default(0)}}px {{bottom| default(0)}}px {{left| default(0)}}px;
              --chip-background: rgba(var(--rgb-disabled), 0);
              --chip-border-width: 0;
              --chip-box-shadow: none;
              --chip-border-radius: 30px;
              --chip-height: 50px;
              --chip-spacing: 20px;
        }