        ha-card {
            background-color: transparent !important;
            --chip-background: none !important;
            --chip-height: 45px !important;
            --chip-spacing: 0px !important;
            text-shadow: 
              0 0 4px rgba(var(--rgb-card-background-color), 1),
              0 0 6px rgba(var(--rgb-card-background-color), 1),
              0 0 8px rgba(var(--rgb-card-background-color), 1);