          ha-state-icon {
            filter: 
              drop-shadow(0 0 4px rgba(var(--rgb-card-background-color), {{opacity | default(0.3)}}))
              drop-shadow(0 0 6px rgba(var(--rgb-card-background-color), {{opacity | default(0.3)}}))
              drop-shadow(0 0 8px rgba(var(--rgb-card-background-color), {{opacity | default(0.3)}}));
          }
          