ha-card {
      position: absolute !important;
      top: 0% !important;
      right: 0% !important;
      background-color: none !important;
      --chip-background: none !important;
      --chip-height: {{states('input_number.s_default_chip_height')}}px !important;
