{% macro get_color(station, station_color) %}
  {% set color_map = {
      'mini2': {
          'black': '120,120,120',
          'white': '180,180,180',
          'red': '153, 75, 96',
          'blue': '59, 90, 168'
      },
      'mini3': {
          'black': '120,120,120',
          'white': '180,180,180',
          'purple': '104, 83, 173'
      },
      'lite': {
          'beige': '216, 175, 151',
          'yellow': '204, 197, 0',
          'cyan': '0, 225, 255',
          'purple': '204, 0, 255',
          'pink': '251, 0, 255',
          'red': '232, 56, 56'
      },
      'lite2': {
          'blue': '26, 135, 237',
          'green': '125, 193, 73',
          'coral': '235, 116, 89',
          'purple': '121, 113, 209',
          'pink': '222, 109, 160'
      },
      '2': {
          'black': '120,120,120',
          'blue': '51, 73, 117',
          'coral': '143, 81, 88',
          'beige': '166, 123, 98'
      },
      'multiroom': {
          'blue': '33, 150, 243',
          'orange': '255, 93, 0'
      }
  } %}

  {{ color_map[station].get(station_color, '255,255,255') }}
{% endmacro %}